

.geometricbg {
    background-image: url("https://st3.depositphotos.com/1065327/32590/i/450/depositphotos_325909380-stock-photo-blue-green-large-simple-geometric.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bottomlogo {
  max-height: 10vh;
}


.card-body {
  background-color: grey;
  margin-bottom: -10vh;
  
}

.rowup {
  margin-bottom: -20vh;
}

.blankspace {
  height: 30vh;
}

.btnup {
  margin-bottom: -8vh;
}

