

.geometricbg {
    background-image: url("https://st3.depositphotos.com/1065327/32590/i/450/depositphotos_325909380-stock-photo-blue-green-large-simple-geometric.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bottomlogo {
  max-height: 10vh;
}

